In [623]:
import pandas as pd
import numpy as np
import re

In [624]:
# pd.set_option('display.max_colwidth', None)

In [625]:
pd.reset_option('display.max_colwidth')

In [626]:
master_data = {
    "gratka_2023_master" : "../original_data_2023/gratka/ALL_DATA/gdansk_gratka_master_data.json",
}

for key, value in master_data.items():
    master_data[key] = pd.read_json(value)  

gratka_df = master_data["gratka_2023_master"]

In [627]:
df = gratka_df

In [628]:
df.shape

(1647, 31)

In [629]:
df.head()

,link,rent,description,address,title,additional_info,Lokalizacja,Powierzchnia w m2,Liczba pokoi,Piętro,...,Materiał budynku,Liczba miejsc parkingowych,Czy mieszkanie ma łazienkę?,Możliwy kontakt w języku,"Opłaty (czynsz administracyjny, media)",Stan instalacji,Stan łazienki,Okna,Głośność,Usytuowanie względem stron świata
0,https://gratka.pl/nieruchomosci/mieszkanie-gda...,6 500,"Inwestycja BRABANK zachwyca lokalizacją, archi...",Gdańsk pomorskie,Mieszkanie Gdańsk ul. Stara Stocznia,[],"Gdańsk, ...","68,69 m2",3.0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://gratka.pl/nieruchomosci/mieszkanie-gda...,2 450,"homfi ma przyjemność zaprezentować jasne, prze...",Gdańsk Brzeźno pomorskie,Mieszkanie Gdańsk Brzeźno ul. Dunikowskiego,[],"Gdańsk, ...",47 m2,2.0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://gratka.pl/nieruchomosci/mieszkanie-gda...,6 800,Zamieszkaj w stylowej kamienicy. Zapraszamy do...,Gdańsk Stare Miasto pomorskie,Mieszkanie Gdańsk Stare Miasto ul. Tobiasza,[],"Gdańsk, ...","100,40 m2",4.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://gratka.pl/nieruchomosci/mieszkanie-gda...,5 400,Lokal 125 m/2 w Gdańsk Oliwa u zbiegu ul Al. G...,Gdańsk Oliwa pomorskie,Mieszkanie Gdańsk Oliwa ul. Grunwaldzka,[],"Gdańsk, ...",125 m2,4.0,2,...,cegła,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://gratka.pl/nieruchomosci/mieszkanie-gda...,2 500,--==Rezerwacja==-- --==Rezerwacja==-- --==Rese...,Gdańsk Piecki-Migowo pomorskie,Mieszkanie Gdańsk Piecki-Migowo ul. Myśliwska,[],"Gdańsk, ...",40 m2,2.0,3,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [630]:
# df['Lokalizacja'].value_counts()

# df['Lokalizacja'].str.replace("Gdańsk,", "").str.replace("pomorskie", "").str.strip().value_counts()

# regions_dict = {}  # Initialize the dictionary outside the loop

# for number in range(otodom_gda_df.shape[0]):
#     address = otodom_gda_df['address'].str.split(",")[number]
#     if address and len(address) > 1:
#         region = address[1].strip()
#         if region not in regions_dict:
#             regions_dict[region] = 1
#         else:
#             regions_dict[region] += 1

# import pprint
# pprint.pprint(regions_dict)

# df['address'].str.split(",")[8][1].strip()

# df['address']

# # Assuming you have a DataFrame named 'df' and you want to check a specific column named 'your_column_name'
# target_string = 'negocjacji'
# column_name = 'rent'

# # Create a boolean mask to check if each row in the specified column contains the target string
# mask = olx_gda_df[column_name].str.contains(target_string, na=False)

# # Count the number of True values in the mask (i.e., the number of rows containing the target string)
# count = mask.sum()

# print(f"The string '{target_string}' appears in {count} rows of the column '{column_name}'.")

# df['location'].value_counts()

In [631]:
gratka_gda_districts_mapping = {
    "Śródmieście": "Srodmiescie - Stare Miasto - Dolne Miasto - Długie Ogrody",
    "StareMiasto": "Srodmiescie - Stare Miasto - Dolne Miasto - Długie Ogrody",
    "GłówneMiasto": "Srodmiescie - Stare Miasto - Dolne Miasto - Długie Ogrody",
    "DolneMiasto": "Srodmiescie - Stare Miasto - Dolne Miasto - Długie Ogrody",
    "StarePrzedmieście": "Srodmiescie - Stare Miasto - Dolne Miasto - Długie Ogrody",
    "DługieOgrody": "Srodmiescie - Stare Miasto - Dolne Miasto - Długie Ogrody",
    "WyspaSpichrzów": "Srodmiescie - Stare Miasto - Dolne Miasto - Długie Ogrody",
    
    "Przymorze": "Przymorze",
    "PrzymorzeWielkie": "Przymorze",
    "PrzymorzeMałe": "Przymorze",
    
    "Łostowice": "Chelm - Lostowice - Poludnie",
    "Ujeścisko": "Chelm - Lostowice - Poludnie",
    "Chełm": "Chelm - Lostowice - Poludnie",
    "Zakoniczyn": "Chelm - Lostowice - Poludnie",
    "Kowale": "Chelm - Lostowice - Poludnie",
    
    "Wrzeszcz": "Wrzeszcz",
    "WrzeszczDolny": "Wrzeszcz",
    "WrzeszczGórny": "Wrzeszcz",
    
    "Brzeźno": "Brzezno",
    
    "Jelitkowo": "Zabianka - Wejhera - Jelitkowo - Tysiaclecia",
    "Żabianka": "Zabianka - Wejhera - Jelitkowo - Tysiaclecia",
    
    "Siedlce": "Siedlce - Aniolki - Mlyniska - Mickiewicza",
    "Aniołki": "Siedlce - Aniolki - Mlyniska - Mickiewicza",
    "WzgórzeMickiewicza": "Siedlce - Aniolki - Mlyniska - Mickiewicza",
    
    "Jasień": "Jasien - Matarnia - Kokoszki - Osowa",
    "Osowa": "Jasien - Matarnia - Kokoszki - Osowa",
    "Kokoszki": "Jasien - Matarnia - Kokoszki - Osowa",
    "Kiełpinek": "Jasien - Matarnia - Kokoszki - Osowa",
    "Matarnia": "Jasien - Matarnia - Kokoszki - Osowa",
    
    "Zaspa-Rozstaje": "Zaspa",
    "Zaspa": "Zaspa",
    
    "Suchanino": "Piecki Migowo - Suchanino - Morena",
    "Brętowo": "Piecki Migowo - Suchanino - Morena",
    "Piecki": "Piecki Migowo - Suchanino - Morena",
    "Migowo": "Piecki Migowo - Suchanino - Morena",
    "Niedźwiednik": "Piecki Migowo - Suchanino - Morena",
    
    "Letnica": "Letnica",
    
    "Oliwa": "Oliwa - Strzyza",
    "Strzyża": "Oliwa - Strzyza",
    
    "Orunia": "Orunia",
    "Maćkowy": "Orunia",
    "GórkiZachodnie": "Orunia",
    "Olszynka": "Orunia",
    
    "NowyPort": "Przerobka - Stogi - Nowy Port",
    "Przeróbka": "Przerobka - Stogi - Nowy Port",
    "Stogi": "Przerobka - Stogi - Nowy Port",
    
    np.nan: "unknown"
}

gratka_rooms_mapping = {
    3: 3,
    2: 2,
    1: 1,
    4: 4,
    5: 4,
    6: 4,
    7: 4
}

gratka_private_seller_mapping = {
    1.0: True,
    np.nan: False
}

gratka_furnished_mapping = {
    "Tak": True,
}


gratka_level_mapping = {
    'parter': 0,
    '1': 1, '2': 2, '3':3, '4':4, '5':5, '6':6, '7':7, '8':8, '9':9, '10':10,
    '11': 11,
    '12': 11,
    '13': 11,
    '14': 11,
    '15': 11,
    '16': 11,
    '17': 11,
    'poddasze': 11,
}

gratka_building_type_mapping = {
    "blok": "unit",
    "apartamentowiec": "apartment_building",
    "kamienica": "tenement",
    "domwielorodzinny/szeregowiec": "house",
    "loft": "unit",
    np.nan: "unknown"
}

In [632]:
dirty_data = df.copy()

In [633]:
dirty_data["Typ zabudowy"].value_counts()

Typ zabudowy
apartamentowiec                  535
blok                             433
kamienica                        127
dom wielorodzinny/szeregowiec      8
loft                               1
Name: count, dtype: int64

In [634]:
dirty_data["Piętro"].value_counts()

Piętro
1           360
2           342
3           222
parter      220
4           176
5           103
6            49
7            40
9            17
11           14
8            14
10           14
12           14
16           10
17           10
13            7
15            6
14            5
poddasze      1
Name: count, dtype: int64

In [635]:
df = dirty_data.copy()
df.isna().sum()

link                                         0
rent                                         0
description                                  0
address                                      0
title                                        0
additional_info                              0
Lokalizacja                                  0
Powierzchnia w m2                            1
Liczba pokoi                                 4
Piętro                                      23
Rok budowy                                 433
Typ zabudowy                               543
Liczba pięter w budynku                     84
Dostępność od                              994
Numer referencyjny                          95
Udogodnienia                               441
Zaktualizowane                               0
Dodane                                       0
Stan                                      1341
Miejsce parkingowe                        1366
Forma kuchni                              1254
Materiał budynku                          1385
Liczba miejsc parkingowych                1325
Czy mieszkanie ma łazienkę?               1054
Możliwy kontakt w języku                  1524
Opłaty (czynsz administracyjny, media)    1581
Stan instalacji                           1583
Stan łazienki                             1576
Okna                                      1585
Głośność                                  1585
Usytuowanie względem stron świata         1595
dtype: int64

In [636]:
df.columns

Index(['link', 'rent', 'description', 'address', 'title', 'additional_info',
       'Lokalizacja', 'Powierzchnia w m2', 'Liczba pokoi', 'Piętro',
       'Rok budowy', 'Typ zabudowy', 'Liczba pięter w budynku',
       'Dostępność od', 'Numer referencyjny', 'Udogodnienia', 'Zaktualizowane',
       'Dodane', 'Stan', 'Miejsce parkingowe', 'Forma kuchni',
       'Materiał budynku', 'Liczba miejsc parkingowych',
       'Czy mieszkanie ma łazienkę?', 'Możliwy kontakt w języku',
       'Opłaty (czynsz administracyjny, media)', 'Stan instalacji',
       'Stan łazienki', 'Okna', 'Głośność',
       'Usytuowanie względem stron świata'],
      dtype='object')

In [637]:
df.head()

,link,rent,description,address,title,additional_info,Lokalizacja,Powierzchnia w m2,Liczba pokoi,Piętro,...,Materiał budynku,Liczba miejsc parkingowych,Czy mieszkanie ma łazienkę?,Możliwy kontakt w języku,"Opłaty (czynsz administracyjny, media)",Stan instalacji,Stan łazienki,Okna,Głośność,Usytuowanie względem stron świata
0,https://gratka.pl/nieruchomosci/mieszkanie-gda...,6 500,"Inwestycja BRABANK zachwyca lokalizacją, archi...",Gdańsk pomorskie,Mieszkanie Gdańsk ul. Stara Stocznia,[],"Gdańsk, ...","68,69 m2",3.0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://gratka.pl/nieruchomosci/mieszkanie-gda...,2 450,"homfi ma przyjemność zaprezentować jasne, prze...",Gdańsk Brzeźno pomorskie,Mieszkanie Gdańsk Brzeźno ul. Dunikowskiego,[],"Gdańsk, ...",47 m2,2.0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://gratka.pl/nieruchomosci/mieszkanie-gda...,6 800,Zamieszkaj w stylowej kamienicy. Zapraszamy do...,Gdańsk Stare Miasto pomorskie,Mieszkanie Gdańsk Stare Miasto ul. Tobiasza,[],"Gdańsk, ...","100,40 m2",4.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://gratka.pl/nieruchomosci/mieszkanie-gda...,5 400,Lokal 125 m/2 w Gdańsk Oliwa u zbiegu ul Al. G...,Gdańsk Oliwa pomorskie,Mieszkanie Gdańsk Oliwa ul. Grunwaldzka,[],"Gdańsk, ...",125 m2,4.0,2,...,cegła,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://gratka.pl/nieruchomosci/mieszkanie-gda...,2 500,--==Rezerwacja==-- --==Rezerwacja==-- --==Rese...,Gdańsk Piecki-Migowo pomorskie,Mieszkanie Gdańsk Piecki-Migowo ul. Myśliwska,[],"Gdańsk, ...",40 m2,2.0,3,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [638]:
df = dirty_data.copy()

def convert_numeric_to_float(convertable_string):
    return float(convertable_string.replace("zł", "").replace(" ", "").replace("\ndonegocjacji", ""))

def clear_gratka(df: pd.DataFrame, city = "gda"):
    df.dropna(subset=['Liczba pokoi', 'Powierzchnia w m2', 'Piętro'], inplace=True)
    
    df['Piętro'] = df['Piętro'].fillna(1001)
    df["Typ zabudowy"] = df["Typ zabudowy"].fillna("Unknown")
    
    df.drop(
        labels=[
            'Usytuowanie względem stron świata',
            'Stan',
            'Miejsce parkingowe',
            'Forma kuchni',
            'Materiał budynku',
            'Liczba miejsc parkingowych',
            'Czy mieszkanie ma łazienkę?',
            'Możliwy kontakt w języku',
            'Opłaty (czynsz administracyjny, media)',
            'Stan instalacji',
            'Stan łazienki',
            'Okna',
            'Dostępność od',
            'Zaktualizowane',
            'Głośność',
            'link',
            'description',
            'Numer referencyjny',
            'Dodane',
            'Udogodnienia',
            'Rok budowy'
        ],
        inplace= True,
        axis= 1
    )
#     is_negotiable_list = []
#     is_furnished_list = []
    
#     for index, row in df.iterrows():

#         # negotiable
#         if 'do negocjacji' in row['rent']:
#             is_negotiable_list.append(True)
#         else:
#             is_negotiable_list.append(False)

#         # furnished
#         if 'Tak' in row['Umeblowane']:
#             is_furnished_list.append(True)
#         else:
#             is_furnished_list.append(False)

#     # negotiable apply
#     df['negotiable'] = is_negotiable_list

    # building_type
    df = df.rename(mapper={"Typ zabudowy": "building_type"}, axis=1)
    df["building_type"] = df["building_type"].str.replace(" ", "").str.lower()
    df["building_type"] = df["building_type"].replace(gratka_building_type_mapping)
    
#     # furnished apply
#     df = df.rename(mapper={"Umeblowane": "furnished"}, axis=1)
#     df['furnished'] = is_furnished_list
    
#     # private_seller
#     df = df.rename(mapper={"Prywatne": "private_seller"}, axis=1)
#     df['private_seller'] = df['private_seller'].map(gratka_private_seller_mapping)
    
#     # negotiable apply
#     df['negotiable'] = is_negotiable_list
    
    # surface
    df = df.rename(mapper={"Powierzchnia w m2": "surface"}, axis=1)
    df['surface'] = df['surface'].str.replace("m²", "").str.replace("m2", "").str.replace(" ", "").str.replace(",", ".").astype(float)

    # level 
    df = df.rename(mapper={"Piętro": "level"}, axis=1)
    df['level'] = df['level'].map(gratka_level_mapping)
    
    # rooms 
    df = df.rename(mapper={"Liczba pokoi": "rooms"}, axis=1)
    df['rooms'] = df['rooms'].map(gratka_rooms_mapping)
    df['rooms'] = df['rooms'].astype(int)
    
    # rent
    df['rent'] = df['rent'].apply(convert_numeric_to_float)

#     # rent_extra
#     df = df.rename(mapper={"Czynsz (dodatkowo)": "rent_extra"}, axis=1)
#     df['rent_extra'] = df['rent_extra'].apply(convert_numeric_to_float)

    # location
    df['address'] = df['address'].str.lstrip('Gdańsk').str.rstrip('pomorskie').str.replace(' ', '')
    print(df['address'].value_counts())
    if city.lower() == "gda":
        print("Im in if")
        df['address'] = df['address'].replace(gratka_gda_districts_mapping)
    elif city.lower() == "krk":
        pass
        # df['location'] = df['location'].map(gratka_krk_districts_mapping)

    return df

In [639]:
df_cleared = clear_gratka(df)

Cycki!
address
Śródmieście           390
Przymorze             178
                      155
Wrzeszcz              105
Oliwa                  76
Brzeźno                65
Jasień                 63
StareMiasto            60
Jelitkowo              48
Piecki-Migowo          43
Zaspa-Rozstaje         41
Łostowice              41
Letnica                40
Zaspa                  35
Chełm                  21
Siedlce                20
Ujeścisko              20
GłówneMiasto           17
Orunia                 17
Żabianka               17
Suchanino              16
WrzeszczGórny          12
StarePrzedmieście      12
PrzymorzeWielkie       11
Aniołki                11
Osowa                  11
DolneMiasto            11
WrzeszczDolny          10
Kokoszki               10
Zakoniczyn              8
PrzymorzeMałe           7
DługieOgrody            7
Strzyża                 6
Brętowo                 5
NowyPort                4
Przeróbka               4
Stogi                   4
Piecki                  4
Kiełpinek               3
Kowale                  3
WyspaSpichrzów          3
Maćkowy                 2
Migowo                  2
WzgórzeMickiewicza      1
Matarnia                1
GórkiZachodnie          1
Olszynka                1
Niedźwiednik            1
Name: count, dtype: int64
Im in if

In [640]:
df.columns

Index(['rent', 'address', 'title', 'additional_info', 'Lokalizacja',
       'Powierzchnia w m2', 'Liczba pokoi', 'Piętro', 'Typ zabudowy',
       'Liczba pięter w budynku'],
      dtype='object')

In [641]:
df_cleared.isna().sum()

rent                        0
address                     0
title                       0
additional_info             0
Lokalizacja                 0
surface                     0
rooms                       0
level                       0
building_type               0
Liczba pięter w budynku    72
dtype: int64

In [642]:
df_cleared["rooms"].unique()

array([3, 2, 4, 1])

In [643]:
df_cleared["building_type"].unique()

array(['apartment_building', 'unit', 'tenement', 'unknown', 'house'],
      dtype=object)

In [644]:
df_cleared.columns

Index(['rent', 'address', 'title', 'additional_info', 'Lokalizacja', 'surface',
       'rooms', 'level', 'building_type', 'Liczba pięter w budynku'],
      dtype='object')

In [645]:
df_cleared["building_type"].value_counts()

building_type
unknown               538
apartment_building    520
unit                  430
tenement              127
house                   8
Name: count, dtype: int64

In [646]:
df_cleared.head()

,rent,address,title,additional_info,Lokalizacja,surface,rooms,level,building_type,Liczba pięter w budynku
0,6500.0,,Mieszkanie Gdańsk ul. Stara Stocznia,[],"Gdańsk, ...",68.69,3,4,apartment_building,6
1,2450.0,Brzezno,Mieszkanie Gdańsk Brzeźno ul. Dunikowskiego,[],"Gdańsk, ...",47.00,2,3,unit,NaN
2,6800.0,Srodmiescie - Stare Miasto - Dolne Miasto - Dł...,Mieszkanie Gdańsk Stare Miasto ul. Tobiasza,[],"Gdańsk, ...",100.40,4,1,tenement,3
3,5400.0,Oliwa - Strzyza,Mieszkanie Gdańsk Oliwa ul. Grunwaldzka,[],"Gdańsk, ...",125.00,4,2,tenement,2
4,2500.0,Piecki-Migowo,Mieszkanie Gdańsk Piecki-Migowo ul. Myśliwska,[],"Gdańsk, ...",40.00,2,3,apartment_building,4

In [647]:
df_cleared['building_type'].unique()

array(['apartment_building', 'unit', 'tenement', 'unknown', 'house'],
      dtype=object)

In [648]:
df_cleared.isna().sum()

rent                        0
address                     0
title                       0
additional_info             0
Lokalizacja                 0
surface                     0
rooms                       0
level                       0
building_type               0
Liczba pięter w budynku    72
dtype: int64

In [649]:
df_cleared['level'].unique()

array([ 4,  3,  1,  2, 11,  0,  5, 10,  8,  6,  9,  7])

In [650]:
df_cleared.head()

,rent,address,title,additional_info,Lokalizacja,surface,rooms,level,building_type,Liczba pięter w budynku
0,6500.0,,Mieszkanie Gdańsk ul. Stara Stocznia,[],"Gdańsk, ...",68.69,3,4,apartment_building,6
1,2450.0,Brzezno,Mieszkanie Gdańsk Brzeźno ul. Dunikowskiego,[],"Gdańsk, ...",47.00,2,3,unit,NaN
2,6800.0,Srodmiescie - Stare Miasto - Dolne Miasto - Dł...,Mieszkanie Gdańsk Stare Miasto ul. Tobiasza,[],"Gdańsk, ...",100.40,4,1,tenement,3
3,5400.0,Oliwa - Strzyza,Mieszkanie Gdańsk Oliwa ul. Grunwaldzka,[],"Gdańsk, ...",125.00,4,2,tenement,2
4,2500.0,Piecki-Migowo,Mieszkanie Gdańsk Piecki-Migowo ul. Myśliwska,[],"Gdańsk, ...",40.00,2,3,apartment_building,4

In [651]:
# df['address'] = df['address'].str.lstrip('Gdańsk').str.rstrip('pomorskie').str.replace(' ', '')

In [652]:
df['address'].value_counts()

address
Gdańsk Śródmieście pomorskie            390
Gdańsk Przymorze pomorskie              178
Gdańsk pomorskie                        155
Gdańsk Wrzeszcz pomorskie               105
Gdańsk Oliwa pomorskie                   76
Gdańsk Brzeźno pomorskie                 65
Gdańsk Jasień pomorskie                  63
Gdańsk Stare Miasto pomorskie            60
Gdańsk Jelitkowo pomorskie               48
Gdańsk Piecki-Migowo pomorskie           43
Gdańsk Zaspa-Rozstaje pomorskie          41
Gdańsk Łostowice pomorskie               41
Gdańsk Letnica pomorskie                 40
Gdańsk Zaspa pomorskie                   35
Gdańsk Chełm pomorskie                   21
Gdańsk Siedlce pomorskie                 20
Gdańsk Ujeścisko pomorskie               20
Gdańsk Główne Miasto pomorskie           17
Gdańsk Orunia pomorskie                  17
Gdańsk Żabianka pomorskie                17
Gdańsk Suchanino pomorskie               16
Gdańsk Wrzeszcz Górny pomorskie          12
Gdańsk Stare Przedmieście pomorskie      12
Gdańsk Przymorze Wielkie pomorskie       11
Gdańsk Aniołki pomorskie                 11
Gdańsk Osowa pomorskie                   11
Gdańsk Dolne Miasto pomorskie            11
Gdańsk Wrzeszcz Dolny pomorskie          10
Gdańsk Kokoszki pomorskie                10
Gdańsk Zakoniczyn pomorskie               8
Gdańsk Przymorze Małe pomorskie           7
Gdańsk Długie Ogrody pomorskie            7
Gdańsk Strzyża pomorskie                  6
Gdańsk Brętowo pomorskie                  5
Gdańsk Nowy Port pomorskie                4
Gdańsk Przeróbka pomorskie                4
Gdańsk Stogi pomorskie                    4
Gdańsk Piecki pomorskie                   4
Gdańsk Kiełpinek pomorskie                3
Gdańsk Kowale pomorskie                   3
Gdańsk Wyspa Spichrzów pomorskie          3
Gdańsk Maćkowy pomorskie                  2
Gdańsk Migowo pomorskie                   2
Gdańsk Wzgórze Mickiewicza pomorskie      1
Gdańsk Matarnia pomorskie                 1
Gdańsk Górki Zachodnie pomorskie          1
Gdańsk Olszynka pomorskie                 1
Gdańsk Niedźwiednik pomorskie             1
Name: count, dtype: int64

In [653]:
(df['address'].value_counts()/df.shape[0])*100

address
Gdańsk Śródmieście pomorskie            24.029575
Gdańsk Przymorze pomorskie              10.967344
Gdańsk pomorskie                         9.550216
Gdańsk Wrzeszcz pomorskie                6.469501
Gdańsk Oliwa pomorskie                   4.682686
Gdańsk Brzeźno pomorskie                 4.004929
Gdańsk Jasień pomorskie                  3.881701
Gdańsk Stare Miasto pomorskie            3.696858
Gdańsk Jelitkowo pomorskie               2.957486
Gdańsk Piecki-Migowo pomorskie           2.649415
Gdańsk Zaspa-Rozstaje pomorskie          2.526186
Gdańsk Łostowice pomorskie               2.526186
Gdańsk Letnica pomorskie                 2.464572
Gdańsk Zaspa pomorskie                   2.156500
Gdańsk Chełm pomorskie                   1.293900
Gdańsk Siedlce pomorskie                 1.232286
Gdańsk Ujeścisko pomorskie               1.232286
Gdańsk Główne Miasto pomorskie           1.047443
Gdańsk Orunia pomorskie                  1.047443
Gdańsk Żabianka pomorskie                1.047443
Gdańsk Suchanino pomorskie               0.985829
Gdańsk Wrzeszcz Górny pomorskie          0.739372
Gdańsk Stare Przedmieście pomorskie      0.739372
Gdańsk Przymorze Wielkie pomorskie       0.677757
Gdańsk Aniołki pomorskie                 0.677757
Gdańsk Osowa pomorskie                   0.677757
Gdańsk Dolne Miasto pomorskie            0.677757
Gdańsk Wrzeszcz Dolny pomorskie          0.616143
Gdańsk Kokoszki pomorskie                0.616143
Gdańsk Zakoniczyn pomorskie              0.492914
Gdańsk Przymorze Małe pomorskie          0.431300
Gdańsk Długie Ogrody pomorskie           0.431300
Gdańsk Strzyża pomorskie                 0.369686
Gdańsk Brętowo pomorskie                 0.308071
Gdańsk Nowy Port pomorskie               0.246457
Gdańsk Przeróbka pomorskie               0.246457
Gdańsk Stogi pomorskie                   0.246457
Gdańsk Piecki pomorskie                  0.246457
Gdańsk Kiełpinek pomorskie               0.184843
Gdańsk Kowale pomorskie                  0.184843
Gdańsk Wyspa Spichrzów pomorskie         0.184843
Gdańsk Maćkowy pomorskie                 0.123229
Gdańsk Migowo pomorskie                  0.123229
Gdańsk Wzgórze Mickiewicza pomorskie     0.061614
Gdańsk Matarnia pomorskie                0.061614
Gdańsk Górki Zachodnie pomorskie         0.061614
Gdańsk Olszynka pomorskie                0.061614
Gdańsk Niedźwiednik pomorskie            0.061614
Name: count, dtype: float64