In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
# pd.set_option('display.max_colwidth', None)

In [3]:
pd.reset_option('display.max_colwidth')

In [4]:
collected_08_23 = {
    "otodom_krk" : "../original_data/collected_08_23/master_data/otodom_krk.json",
    "otodom_gda" : "../original_data/collected_08_23/master_data/otodom_gda.json",
    "olx_gda" : "../original_data/collected_08_23/master_data/olx_gda.json",
    "olx_krk" : "../original_data/collected_08_23/master_data/olx_krk.json",
    "gratka_gda" : "../original_data/collected_08_23/master_data/gratka_gda.json",
    "gratak_krk" : "../original_data/collected_08_23/master_data/gratka_krk.json",
    "trojmiasto_gda" : "../original_data/collected_08_23/master_data/trojmiasto_gda.json"
}

# Create a dictionary to store DataFrames
dataframes_08_23 = {}

# Iterate through the JSON data and create DataFrames
for key, value in collected_08_23.items():
    dataframes_08_23[key] = pd.read_json(value)  # Assuming the data is in JSON format

# Now, you have a dictionary of DataFrames where each key is a dataset
# You can access them like this:
otodom_krk_df = dataframes_08_23["otodom_krk"]
otodom_gda_df = dataframes_08_23["otodom_gda"]
olx_gda_df = dataframes_08_23["olx_gda"]
olx_krk_df = dataframes_08_23["olx_krk"]
gratka_gda_df = dataframes_08_23["gratka_gda"]
gratak_krk_df = dataframes_08_23["gratak_krk"]
trojmiasto_gda_df = dataframes_08_23["trojmiasto_gda"]

In [9]:
df = gratka_gda_df

In [10]:
df.columns

Index(['link', 'rent', 'description', 'address', 'title', 'additional_info',
       'Lokalizacja', 'Powierzchnia w m2', 'Liczba pokoi', 'Piętro',
       'Rok budowy', 'Typ zabudowy', 'Liczba pięter w budynku',
       'Dostępność od', 'Numer referencyjny', 'Udogodnienia', 'Zaktualizowane',
       'Dodane', 'Stan', 'Miejsce parkingowe', 'Forma kuchni',
       'Materiał budynku', 'Liczba miejsc parkingowych',
       'Czy mieszkanie ma łazienkę?', 'Możliwy kontakt w języku',
       'Opłaty (czynsz administracyjny, media)', 'Stan instalacji',
       'Stan łazienki', 'Okna', 'Głośność',
       'Usytuowanie względem stron świata'],
      dtype='object')

In [19]:
df['Lokalizacja'].value_counts()

Lokalizacja
Gdańsk,                                         Śródmieście,                                         pomorskie           83
Gdańsk,                                         Przymorze,                                         pomorskie             46
Gdańsk,                                         pomorskie                                                                35
Gdańsk,                                         Wrzeszcz,                                         pomorskie              21
Gdańsk,                                         Jasień,                                         pomorskie                17
Gdańsk,                                         Stare Miasto,                                         pomorskie          15
Gdańsk,                                         Oliwa,                                         pomorskie                 15
Gdańsk,                                         Brzeźno,                                         pomorskie               15
Gdańsk,                                         Jelitkowo,                                         pomorskie             12
Gdańsk,                                         Zaspa-Rozstaje,                                         pomorskie        11
Gdańsk,                                         Letnica,                                         pomorskie               10
Gdańsk,                                         Zaspa,                                         pomorskie                  8
Gdańsk,                                         Piecki-Migowo,                                         pomorskie          7
Gdańsk,                                         Żabianka,                                         pomorskie               6
Gdańsk,                                         Ujeścisko,                                         pomorskie              5
Gdańsk,                                         Łostowice,                                         pomorskie              5
Gdańsk,                                         Suchanino,                                         pomorskie              4
Gdańsk,                                         Chełm,                                         pomorskie                  4
Gdańsk,                                         Dolne Miasto,                                         pomorskie           3
Gdańsk,                                         Główne Miasto,                                         pomorskie          3
Gdańsk,                                         Wrzeszcz Górny,                                         pomorskie         3
Gdańsk,                                         Siedlce,                                         pomorskie                3
Gdańsk,                                         Stare Przedmieście,                                         pomorskie     3
Gdańsk,                                         Wrzeszcz Dolny,                                         pomorskie         3
Gdańsk,                                         Przymorze Wielkie,                                         pomorskie      2
Gdańsk,                                         Orunia,                                         pomorskie                 2
Gdańsk,                                         Osowa,                                         pomorskie                  2
Gdańsk,                                         Kokoszki,                                         pomorskie               2
Gdańsk,                                         Stogi,                                         pomorskie                  2
Gdańsk,                                         Maćkowy,                                         pomorskie                1
Gdańsk,                                         Piecki,                                         pomorskie                 1
Gdańsk,                                         Kiełpinek,                                         pomorskie              1
Gdańsk,                                         Gdańsk,                                         pomorskie                 1
Gdańsk,                                         Nowy Port,                                         pomorskie              1
Gdańsk,                                         Długie Ogrody,                                         pomorskie          1
Gdańsk,                                         Przeróbka,                                         pomorskie              1
Name: count, dtype: int64

In [18]:
df['Lokalizacja'].str.replace("Gdańsk,", "").str.replace("pomorskie", "").str.strip().value_counts()

Lokalizacja
,                                         Śródmieście,           83
,                                         Przymorze,             46
,                                                                35
,                                         Wrzeszcz,              21
,                                         Jasień,                17
,                                         Stare Miasto,          15
,                                         Oliwa,                 15
,                                         Brzeźno,               15
,                                         Jelitkowo,             12
,                                         Zaspa-Rozstaje,        11
,                                         Letnica,               10
,                                         Zaspa,                  8
,                                         Piecki-Migowo,          7
,                                         Żabianka,               6
,                                         Ujeścisko,              5
,                                         Łostowice,              5
,                                         Suchanino,              4
,                                         Chełm,                  4
,                                         Dolne Miasto,           3
,                                         Główne Miasto,          3
,                                         Wrzeszcz Górny,         3
,                                         Siedlce,                3
,                                         Stare Przedmieście,     3
,                                         Wrzeszcz Dolny,         3
,                                         Przymorze Wielkie,      2
,                                         Orunia,                 2
,                                         Osowa,                  2
,                                         Kokoszki,               2
,                                         Stogi,                  2
,                                         Maćkowy,                1
,                                         Piecki,                 1
,                                         Kiełpinek,              1
,                                         ,                       1
,                                         Nowy Port,              1
,                                         Długie Ogrody,          1
,                                         Przeróbka,              1
Name: count, dtype: int64

In [48]:
regions_dict = {}  # Initialize the dictionary outside the loop

for number in range(otodom_gda_df.shape[0]):
    address = otodom_gda_df['address'].str.split(",")[number]
    if address and len(address) > 1:
        region = address[1].strip()
        if region not in regions_dict:
            regions_dict[region] = 1
        else:
            regions_dict[region] += 1

import pprint
pprint.pprint(regions_dict)

{'Aniołki': 1,
 'Brzeźno': 46,
 'Chełm': 11,
 'Gdańsk': 142,
 'Gdynia': 1,
 'Jasień': 24,
 'Jelitkowo': 26,
 'Kokoszki': 4,
 'Letnica': 18,
 'Matarnia': 1,
 'Młyniska': 3,
 'Nowy Port': 1,
 'Oliwa': 24,
 'Olszynka': 1,
 'Orunia Górna - Gdańsk Południe': 23,
 'Orunia-Św. Wojciech-Lipce': 4,
 'Osowa': 5,
 'Piecki-Migowo': 16,
 'Przeróbka': 2,
 'Przymorze Małe': 56,
 'Przymorze Wielkie': 58,
 'Siedlce': 12,
 'Stogi': 4,
 'Strzyża': 3,
 'Suchanino': 4,
 'Tysiąclecia': 2,
 'Ujeścisko-Łostowice': 15,
 'VII Dwór': 4,
 'Wejhera': 7,
 'Wrzeszcz Dolny': 38,
 'Wrzeszcz Górny': 38,
 'Wzgórze Mickiewicza': 1,
 'Zaspa-Młyniec': 12,
 'Zaspa-Rozstaje': 17,
 'ul. Krzywoustego 19C': 1,
 'Śródmieście': 218,
 'Żabianka': 14}

In [33]:
otodom_gda_df['address'].str.split(",")[8][1].strip()

'Żabianka'

In [21]:
otodom_gda_df['address']

address
Śródmieście, Gdańsk, pomorskie                                 47
ul. Szafarnia, Śródmieście, Gdańsk, pomorskie                  29
ul. Obrońców Wybrzeża, Przymorze Wielkie, Gdańsk, pomorskie    23
ul. Nadmorski Dwór, Brzeźno, Gdańsk, pomorskie                 17
ul. św. Barbary, Śródmieście, Gdańsk, pomorskie                16
                                                               ..
Aniołki, Gdańsk, pomorskie                                      1
Aleja Grunwaldzka, Oliwa, Gdańsk, pomorskie                     1
ul. Nieborowska 46, Chełm, Gdańsk, pomorskie                    1
ul. Słowiańska, Przymorze Małe, Gdańsk, pomorskie               1
ul. Rybaki Dolne, Śródmieście, Gdańsk, pomorskie                1
Name: count, Length: 328, dtype: int64

In [43]:
import pandas as pd

# Assuming you have a DataFrame named 'df' and you want to check a specific column named 'your_column_name'
target_string = 'negocjacji'
column_name = 'rent'

# Create a boolean mask to check if each row in the specified column contains the target string
mask = olx_gda_df[column_name].str.contains(target_string, na=False)

# Count the number of True values in the mask (i.e., the number of rows containing the target string)
count = mask.sum()

print(f"The string '{target_string}' appears in {count} rows of the column '{column_name}'.")

The string 'negocjacji' appears in 42 rows of the column 'rent'.

In [94]:
df['location'].value_counts()

location
Śródmieście                                     78
Przymorze Wielkie                               43
Brzeźno                                         33
Przymorze Małe                                  32
Wrzeszcz                                        32
Żabianka - Wejhera - Jelitkowo - Tysiąclecia    30
Chełm z dzielnicą Gdańsk Południe               17
Jasień                                          14
Ujeścisko - Łostowice                           14
Letnica                                         12
Piecki-Migowo                                   10
Zaspa Młyniec                                   10
Orunia - Św. Wojciech - Lipce                    9
Zaspa Rozstaje                                   7
Siedlce                                          7
Stogi z Przeróbką                                6
Oliwa                                            5
Aniołki                                          5
Wzgórze Mickiewicza                              2
Matarnia                                         2
Suchanino                                        2
Brętowo                                          1
Kokoszki                                         1
Strzyża                                          1
Młyniska                                         1
Name: count, dtype: int64

In [44]:
olx_gda_df.shape

(374, 17)

In [66]:
def convert_numeric_to_float(convertable_string):
    return float(convertable_string.replace("zł", "").replace(" ", "").replace("\ndonegocjacji", ""))

def clear_olx(df: pd.DataFrame, city = 'Gdansk'):
    df.drop(
        labels=[
            'link', 
            'username', 
            'on_olx_since', 
            'last_activity',
            'title',
            'description'
        ],
        inplace= True,
        axis= 1
    )
    
    is_negotiable_list = []
    
    for index, row in df.iterrows():

        # negotiable
        if 'do negocjacji' in row['rent']:
            is_negotiable_list.append(True)
        else:
            is_negotiable_list.append(False)
    
    # negotiable apply
    df['negotiable'] = is_negotiable_list


    # rent
    df['rent'] = df['rent'].apply(convert_numeric_to_float)

    # rent_extra
    df = df.rename(mapper={"rent_extra": "Czynsz (dodatkowo)"}, axis=1)
    df['rent_extra'] = df['rent_extra'].apply(convert_numeric_to_float)

In [67]:
clear_olx(olx_gda_df)

[False, False, False, False, False, True, False, False, True, False, False, True, False, False, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, True, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, True, False, False, False, False, True, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, True, True, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, True, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, False, False, False, False, True, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, True, False, False, False, False, False, False, False, False, False, False, False, False, True, False, True, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, True, False, False, False, False]