In [1]:
import pandas as pd
import numpy as np
import re
import os

In [2]:
# pd.set_option('display.max_colwidth', None)

In [3]:
pd.reset_option('display.max_colwidth')

In [4]:
master_data = {
    "olx_2023_master" : "../original_data_2023/olx/ALL_DATA/gdansk_olx_master_data.json",
}

for key, value in master_data.items():
    master_data[key] = pd.read_json(value)  

olx_df = master_data["olx_2023_master"]
df = olx_df

In [5]:
df.head()

,rent,location,username,on_olx_since,last_activity,add_date,title,link,description,Prywatne,Poziom,Umeblowane,Rodzaj zabudowy,Powierzchnia,Liczba pokoi,Czynsz (dodatkowo),Firmowe
0,2 250 zł,Stogi z Przeróbką,Andrzej,sierpień 2021,Ostatnio online w dniu 18 sierpnia 2023,18 sierpnia 2023,Dodane 18 sierpnia 2023,https://www.olx.pl/d/oferta/sloneczne-dwa-poko...,Mieszkanie położone jest w dzielnicy Przeróbka...,1.0,2,Tak,Blok,38 m²,2 pokoje,750 zł,NaN
1,2 700 zł,Chełm z dzielnicą Gdańsk Południe,Tomasz Pankau,lipiec 2020,Ostatnio online w dniu 18 sierpnia 2023,20 sierpnia 2023,Dodane 20 sierpnia 2023,https://www.olx.pl/d/oferta/mieszkanie-na-wyna...,"Wynajmę 2-pokojowe, w pełni umeblowane mieszka...",1.0,2,Tak,Blok,51 m²,2 pokoje,650 zł,NaN
2,2 800 zł,Siedlce,Justyna,grudzień 2017,Ostatnio online wczoraj o 20:13,20 sierpnia 2023,Dodane 20 sierpnia 2023,https://www.olx.pl/d/oferta/mieszkanie-dwupoko...,Wynajmę mieszkanie 2- pokojowe w centrum Gdańs...,1.0,1,Tak,Apartamentowiec,40 m²,2 pokoje,320 zł,NaN
3,2 900 zł,Przymorze Małe,Anita,październik 2012,Ostatnio online w dniu 14 sierpnia 2023,13 sierpnia 2023,Dodane 13 sierpnia 2023,https://www.olx.pl/d/oferta/mieszkanie-2-pok-a...,"Wynajmę mieszkanie na osiedlu Albatros Tower ,...",1.0,2,Tak,Apartamentowiec,41 m²,2 pokoje,500 zł,NaN
4,350 zł,Przymorze Małe,Bogdan,styczeń 2014,Ostatnio online w dniu 17 sierpnia 2023,17 sierpnia 2023,Dodane 17 sierpnia 2023,https://www.olx.pl/d/oferta/mieszkanie-apartam...,"Mieszkanie w bloku, 2-pokojowe znajdujące się ...",1.0,2,Tak,Blok,45 m²,2 pokoje,350 zł,NaN

In [6]:
df.head()

,rent,location,username,on_olx_since,last_activity,add_date,title,link,description,Prywatne,Poziom,Umeblowane,Rodzaj zabudowy,Powierzchnia,Liczba pokoi,Czynsz (dodatkowo),Firmowe
0,2 250 zł,Stogi z Przeróbką,Andrzej,sierpień 2021,Ostatnio online w dniu 18 sierpnia 2023,18 sierpnia 2023,Dodane 18 sierpnia 2023,https://www.olx.pl/d/oferta/sloneczne-dwa-poko...,Mieszkanie położone jest w dzielnicy Przeróbka...,1.0,2,Tak,Blok,38 m²,2 pokoje,750 zł,NaN
1,2 700 zł,Chełm z dzielnicą Gdańsk Południe,Tomasz Pankau,lipiec 2020,Ostatnio online w dniu 18 sierpnia 2023,20 sierpnia 2023,Dodane 20 sierpnia 2023,https://www.olx.pl/d/oferta/mieszkanie-na-wyna...,"Wynajmę 2-pokojowe, w pełni umeblowane mieszka...",1.0,2,Tak,Blok,51 m²,2 pokoje,650 zł,NaN
2,2 800 zł,Siedlce,Justyna,grudzień 2017,Ostatnio online wczoraj o 20:13,20 sierpnia 2023,Dodane 20 sierpnia 2023,https://www.olx.pl/d/oferta/mieszkanie-dwupoko...,Wynajmę mieszkanie 2- pokojowe w centrum Gdańs...,1.0,1,Tak,Apartamentowiec,40 m²,2 pokoje,320 zł,NaN
3,2 900 zł,Przymorze Małe,Anita,październik 2012,Ostatnio online w dniu 14 sierpnia 2023,13 sierpnia 2023,Dodane 13 sierpnia 2023,https://www.olx.pl/d/oferta/mieszkanie-2-pok-a...,"Wynajmę mieszkanie na osiedlu Albatros Tower ,...",1.0,2,Tak,Apartamentowiec,41 m²,2 pokoje,500 zł,NaN
4,350 zł,Przymorze Małe,Bogdan,styczeń 2014,Ostatnio online w dniu 17 sierpnia 2023,17 sierpnia 2023,Dodane 17 sierpnia 2023,https://www.olx.pl/d/oferta/mieszkanie-apartam...,"Mieszkanie w bloku, 2-pokojowe znajdujące się ...",1.0,2,Tak,Blok,45 m²,2 pokoje,350 zł,NaN

In [7]:
df.shape

(2088, 17)

In [8]:
df.isna().sum()

rent                     0
location                 1
username                 0
on_olx_since             0
last_activity            0
add_date                 0
title                    0
link                     0
description              0
Prywatne               275
Poziom                  44
Umeblowane               0
Rodzaj zabudowy          1
Powierzchnia             1
Liczba pokoi             1
Czynsz (dodatkowo)       3
Firmowe               1813
dtype: int64

In [9]:
olx_gda_districts_mapping = {
    "Śródmieście": "Srodmiescie - Stare Miasto - Dolne Miasto - Długie Ogrody",
    "Przymorze Wielkie": "Przymorze",
    "Brzeźno": "Brzezno",
    "Przymorze Małe": "Przymorze",
    "Wrzeszcz": "Wrzeszcz",
    "Żabianka - Wejhera - Jelitkowo - Tysiąclecia": "Zabianka - Wejhera - Jelitkowo - Tysiaclecia",
    "Chełm z dzielnicą Gdańsk Południe": "Chelm - Lostowice - Poludnie",
    "Jasień": "Jasien - Matarnia - Kokoszki - Osowa",
    "Ujeścisko - Łostowice": "Chelm - Lostowice - Poludnie",
    "Letnica": "Letnica",
    "Piecki-Migowo": "Piecki Migowo - Suchanino - Morena",
    "Zaspa Młyniec": "Zaspa",
    "Orunia - Św. Wojciech - Lipce": "Orunia",
    "Zaspa Rozstaje": "Zaspa",
    "Siedlce": "Siedlce - Aniolki - Mlyniska - Mickiewicza",
    "Stogi z Przeróbką": "Przerobka - Stogi - Nowy Port",
    "Oliwa": "Oliwa - Strzyza",
    "Aniołki": "Siedlce - Aniolki - Mlyniska - Mickiewicza",
    "Wzgórze Mickiewicza": "Siedlce - Aniolki - Mlyniska - Mickiewicza",
    "Matarnia": "Jasien - Matarnia - Kokoszki - Osowa",
    "Suchanino": "Piecki Migowo - Suchanino - Morena",
    "Brętowo": "Piecki Migowo - Suchanino - Morena",
    "Kokoszki": "Jasien - Matarnia - Kokoszki - Osowa",
    "Strzyża": "Oliwa - Strzyza",
    "Młyniska": "Siedlce - Aniolki - Mlyniska - Mickiewicza"
}

olx_rooms_mapping = {
    "2pokoje": 2,
    "kawalerka": 1,
    "3pokoje": 3, 
    "4iwięcej": 4,

}

olx_private_seller_mapping = {
    1.0: True,
    np.nan: False
}

olx_furnished_mapping = {
    "Tak": True,
}

olx_level_mapping = {
    "powyżej10": 11,
    "suterena": 0,
    "parter": 0,
    "1":1, "2": 2, "3":3, "4":4, "5":5, "6":6, "7":7, "8":8, "9":9, "10":10
}

olx_building_type_mapping = {
    "blok": "unit",
    "apartamentowiec": "apartment_building",
    "kamienica": "tenement",
    "dom wolnostojący": "house",
    "szeregowiec": "house",
    "loft": "unit"
}

In [10]:
def convert_numeric_to_float(convertable_string):
    return float(convertable_string.replace("zł", "").replace(" ", "").replace(",",".").replace("\ndonegocjacji", ""))

def clear_olx(df: pd.DataFrame, city):
    df.dropna(subset=["location", "Rodzaj zabudowy", "Liczba pokoi", "Czynsz (dodatkowo)"], inplace=True)
    
    df.drop(
        labels=[
            'link', 
            'username', 
            'on_olx_since', 
            'last_activity',
            'title',
            'description',
            'Firmowe',
            'add_date',
        ],
        inplace= True,
        axis= 1
    )
    
    is_negotiable_list = []
    is_furnished_list = []
    
    for index, row in df.iterrows():

        # negotiable
        if 'do negocjacji' in row['rent']:
            is_negotiable_list.append(True)
        else:
            is_negotiable_list.append(False)

        # furnished
        if 'Tak' in row['Umeblowane']:
            is_furnished_list.append(True)
        else:
            is_furnished_list.append(False)

    # negotiable apply
    df['negotiable'] = is_negotiable_list

    # building_type
    df = df.rename(mapper={"Rodzaj zabudowy": "building_type"}, axis=1)
    df["building_type"] = df["building_type"].str.replace(" ", "").str.lower()
    df["building_type"] = df["building_type"].map(olx_building_type_mapping)
    
    # furnished apply
    df = df.rename(mapper={"Umeblowane": "furnished"}, axis=1)
    df['furnished'] = is_furnished_list
    
    # private_seller
    df = df.rename(mapper={"Prywatne": "private_seller"}, axis=1)
    df['private_seller'] = df['private_seller'].map(olx_private_seller_mapping)
    
    # negotiable apply
    df['negotiable'] = is_negotiable_list
    
    # surface
    df = df.rename(mapper={"Powierzchnia": "surface"}, axis=1)
    df['surface'] = df['surface'].str.replace("m²", "").str.replace(" ", "").str.replace(",", ".").astype(float)

    # level 
    df = df.rename(mapper={"Poziom": "level"}, axis=1)
    df['level'] = df['level'].str.replace(" ", "").str.lower()
    df['level'] = df['level'].map(olx_level_mapping)
    df['level'].fillna(1001, inplace=True)
    
    # rooms 
    df = df.rename(mapper={"Liczba pokoi": "rooms"}, axis=1)
    df['rooms'] = df['rooms'].str.replace(" ", "").str.lower()
    df['rooms'] = df['rooms'].map(olx_rooms_mapping)
    df['rooms'] = df['rooms'].astype(int)
    
    # rent
    df['rent'] = df['rent'].apply(convert_numeric_to_float)

    # rent_extra
    df = df.rename(mapper={"Czynsz (dodatkowo)": "rent_extra"}, axis=1)
    df['rent_extra'] = df['rent_extra'].apply(convert_numeric_to_float)

    # location
    if city.lower() == "gda":
        df['location'] = df['location'].map(olx_gda_districts_mapping)
    elif city.lower() == "krk":
        pass
        # df['location'] = df['location'].map(olx_krk_districts_mapping)

    return df

In [11]:
df = clear_olx(df, city="gda")

In [12]:
df["location"].value_counts()

location
Srodmiescie - Stare Miasto - Dolne Miasto - Długie Ogrody    388
Przymorze                                                    260
Chelm - Lostowice - Poludnie                                 129
Wrzeszcz                                                     124
Brzezno                                                      123
Zabianka - Wejhera - Jelitkowo - Tysiaclecia                 105
Siedlce - Aniolki - Mlyniska - Mickiewicza                    84
Jasien - Matarnia - Kokoszki - Osowa                          79
Zaspa                                                         66
Piecki Migowo - Suchanino - Morena                            58
Letnica                                                       57
Oliwa - Strzyza                                               36
Orunia                                                        30
Przerobka - Stogi - Nowy Port                                 22
Name: count, dtype: int64

In [13]:
df.head()

,rent,location,private_seller,level,furnished,building_type,surface,rooms,rent_extra,negotiable
0,2250.0,Przerobka - Stogi - Nowy Port,True,2.0,True,unit,38.0,2,750.0,False
1,2700.0,Chelm - Lostowice - Poludnie,True,2.0,True,unit,51.0,2,650.0,False
2,2800.0,Siedlce - Aniolki - Mlyniska - Mickiewicza,True,1.0,True,apartment_building,40.0,2,320.0,False
3,2900.0,Przymorze,True,2.0,True,apartment_building,41.0,2,500.0,False
4,350.0,Przymorze,True,2.0,True,unit,45.0,2,350.0,False

In [14]:
df['location'].value_counts()

location
Srodmiescie - Stare Miasto - Dolne Miasto - Długie Ogrody    388
Przymorze                                                    260
Chelm - Lostowice - Poludnie                                 129
Wrzeszcz                                                     124
Brzezno                                                      123
Zabianka - Wejhera - Jelitkowo - Tysiaclecia                 105
Siedlce - Aniolki - Mlyniska - Mickiewicza                    84
Jasien - Matarnia - Kokoszki - Osowa                          79
Zaspa                                                         66
Piecki Migowo - Suchanino - Morena                            58
Letnica                                                       57
Oliwa - Strzyza                                               36
Orunia                                                        30
Przerobka - Stogi - Nowy Port                                 22
Name: count, dtype: int64